{% extends 'main_page/base.html' %}
{% load static %}

{% block body %}

!-- Latest compiled and minified CSS -->
<!doctype html>
<html>
    <head>
        <style>

        html, body {
            background-color: #FEFAEC;
            height: 100%;
        }

        body{
        background-image: url('images/header1.png');
        background-position: center;
        background-size: cover;
        margin: 0;
        }

        .header{
            color: #625772;
            padding: 100px;
            text-align: center;
            background-color: #FEFAEC;
            margin: 0px 0px 0px;
            font-family: 'Sunflower', sans-serif;
        }


        .text{
            text-align: center;
            line-height: 200%;
            font-family: 'Sunflower', sans-serif;
            color: #625772;
            background-color: #FEFAEC;
        }

        </style>

        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Sunflower:300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    </head>
    <body>
        <div id="demo" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
              </ul>

              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="image" src="{% static 'login/images/banner.png' %}" alt="logo" style="width: 100%">
                </div>
                <div class="carousel-item">
                  <img class="image" src="{% static 'login/images/banner_2.png' %}" alt="Chicago" style="width: 100%">
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
        </div>

        <h1 class="header"><b>서비스 이용방법</b></h1>

        <div class="row">
            <div class="col">
                <img class="signup" src="{% static 'login/images/signup.png' %}" style="width: 50%">
                <p class="text"><b>1. 회원가입</b></p>
                <p class="text">서비스 이용을 위해 <br> 회원가입이 필요합니다.</p>
                <p class="text">이미 회원 등록을 마치신 분은 <br> 로그인을 해주세요.</p>
            </div>
            <div class="col">
                <img class="image" src="{% static 'login/images/photo.png' %}" style="width: 50%"><br>
                <p class="text"><b>2. 사진 업로드</b></p>
                <p class="text">전송할 사진을 등록해주세요.</p>
                <p class="text">업로드한 사진 중, 랜덤으로 한 장을 선택하여 보내드립니다.</p>
            </div>
            <div class="col">
                <img class="image" src="{% static 'login/images/document.png' %}" style="width: 50%">
                <p class="text"><b>3. 정보 입력</b></p>
                <p class="text">발신인, 수신인의 정보(이름, 전화번호)와 함께 전송할 메시지를 입력해주세요.</p>
                <p class="text">발신 기간은 제한이 없으며, 입력한 기간 안에 랜덤으로 전송됩니다.</p>
                <p class="text">예를 들어, 기간을 30으로 입력하시면,<br>랜덤으로 기간을 선택하여(ex 14) 전송 예약을 하는 날로부터 14일 후에 메시지가 전송됩니다.</p>
            </div>
            <div class="col">
                <img class="image" src="{% static 'login/images/sms.png' %}" style="width: 50%"><br>
                <p class="text"><b>4. 문자 전송</b></p>
                <p class="text">입력하신 정보를 바탕으로<br>문자메시지 전송이 예약됩니다.</p>
            </div>
        </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </body>
    </body>
</html>


{% endblock %}